Repository openameba/spindle, pull requests merged in 2021-11, with the labels that each got.

#292 feat(spindle-tokens): add category to color tokens
  packages/spindle-tokens/lib/output-styles-as-style-dictionary.test.ts
  packages/spindle-tokens/lib/output-styles-as-style-dictionary.ts
Labels: spindle-tokens

#289 Lightedから試験中ステータスを削除
  packages/spindle-ui/src/Button/Button.stories.mdx
  packages/spindle-ui/src/IconButton/IconButton.stories.mdx
Labels: documentation

#297 fix(spindle-ui): adjust style of InvalidMessage
  packages/spindle-ui/src/Form/InvalidMessage.css
  packages/spindle-ui/src/Form/InvalidMessage.tsx
Labels: spindle-ui

#305 feat(spindle-icons): update icons
  packages/spindle-icons/dist/pdf/diamond_two.pdf
  packages/spindle-icons/dist/svg-unoptimized/diamond_two.svg
  packages/spindle-icons/dist/svg/diamond_two.svg
  packages/spindle-icons/dist/svg/sprite.svg
  packages/spindle-icons/docs/icons.md
  packages/spindle-ui/src/Icon/DiamondTwo.tsx
  packages/spindle-ui/src/Icon/index.tsx
Labels: spindle-ui, spindle-icons
