Repository openameba/spindle, pull requests merged in 2022-07, with the labels that each got.

#442 feat(spindle-icons): update icons
  packages/spindle-icons/dist/pdf/amebapick.pdf
  packages/spindle-icons/dist/svg-unoptimized/amebapick.svg
  packages/spindle-icons/dist/svg/amebapick.svg
  packages/spindle-icons/dist/svg/sprite.svg
  packages/spindle-ui/src/Icon/Amebapick.tsx
Labels: spindle-ui, spindle-icons

#444 chore(spindle-ui): check ESM file size
  packages/spindle-ui/bundlesize.config.json
Labels: spindle-ui

#445 fix(spindle-ui): import ButtonGroup style from Dialog
  packages/spindle-hooks/CHANGELOG.md
  packages/spindle-ui/CHANGELOG.md
  packages/spindle-ui/src/Dialog/Dialog.css
Labels: spindle-ui

#436 fix(spindle-ui): override focus style in Dialog for Safari
  packages/spindle-ui/src/Dialog/Dialog.css
Labels: spindle-ui

#429 feat(spindle-ui): implement Appeal Modal
  packages/spindle-ui/bundlesize.config.json
  packages/spindle-ui/src/Modal/AppealModal.css
  packages/spindle-ui/src/Modal/AppealModal.stories.example.tsx
  packages/spindle-ui/src/Modal/AppealModal.stories.mdx
  packages/spindle-ui/src/Modal/AppealModal.tsx
  packages/spindle-ui/src/Modal/index.css
  packages/spindle-ui/src/index.css
Labels: spindle-ui

#456 build(spindle-icons): set tsconfig to build
  packages/spindle-icons/tsconfig.json
Labels: spindle-icons

#474 feat(spindle-icons): update icons
  packages/spindle-icons/dist/pdf/ad.pdf
  packages/spindle-icons/dist/svg-unoptimized/ad.svg
  packages/spindle-icons/dist/svg/ad.svg
  packages/spindle-icons/dist/svg/sprite.svg
  packages/spindle-icons/docs/icons.md
  packages/spindle-ui/src/Icon/Ad.tsx
  packages/spindle-ui/src/Icon/index.tsx
Labels: spindle-ui, spindle-icons

#478 fix(spindle-ui): import style of UI components in AppealModal
  packages/spindle-ui/bundlesize.config.json
  packages/spindle-ui/src/Modal/AppealModal.css
Labels: spindle-ui
