Repository openameba/spindle, pull requests merged in 2023-01, with the labels that each got.

#609 feat(spindle-ui): create InlineNotification
  packages/spindle-ui/.storybook/main.js
  packages/spindle-ui/assets/avatar.png
  packages/spindle-ui/package.json
  packages/spindle-ui/src/InlineNotification/InlineNotification.css
  packages/spindle-ui/src/InlineNotification/InlineNotification.stories.example.tsx
  packages/spindle-ui/src/InlineNotification/InlineNotification.stories.mdx
  packages/spindle-ui/src/InlineNotification/InlineNotification.tsx
  packages/spindle-ui/src/InlineNotification/index.ts
  packages/spindle-ui/src/index.css
  packages/spindle-ui/src/index.ts
  yarn.lock
Labels: spindle-ui

#630 feat(spindle-ui): update sprite.svg with latest svgo
  packages/spindle-icons/dist/svg/sprite.svg
  packages/spindle-icons/sprite.svgo.json
Labels: spindle-icons

#635 feat(spindle-tokens): create animation token for css
  packages/spindle-tokens/config-css.js
  packages/spindle-tokens/config-css.json
  packages/spindle-tokens/package.json
Labels: spindle-ui, spindle-tokens

#645 fix(spindle-ui): remove underline when no href
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.css
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.stories.mdx
Labels: allow execute workflow

#644 chore(spindle-ui): remove bundle size for `index.css`
  packages/spindle-ui/bundlesize.config.json
Labels: spindle-ui

#646 fix(spindle-ui): remove underline when no href
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.css
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.stories.mdx
Labels: spindle-ui

#656 fix(spindle-ui): scrollIntoView caused the breadcrumbs to come to the top of the page.
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.stories.mdx
  packages/spindle-ui/src/Breadcrumb/BreadcrumbList.tsx
Labels: spindle-ui

#657 Fix/bread crumb ref
  packages/spindle-ui/src/Breadcrumb/Breadcrumb.stories.mdx
  packages/spindle-ui/src/Breadcrumb/BreadcrumbList.tsx
Labels: spindle-ui
